/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
.env.php
var/
vendor/
.idea/
.vscode/
*.log
/config/jwt/*.pem
/phpunit.xml
.phpunit.result.cache
